<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Presentacion.Properties.Settings.Control_de_PrestamosConnectionString"
            connectionString="Data Source=DESKTOP-8CA51GL\SQLEXPRESS;Initial Catalog=Control_de_Prestamos;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Presentacion.Properties.Settings.System_LfConnectionString"
            connectionString="Data Source=DESKTOP-8CA51GL\SQLEXPRESS;Initial Catalog=System_Lf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>